
.collage{
    position: absolute ;
}

#specialk{ 
    background-color: red;
}
body{
    background-color: aqua;
}

#page-content{
    width: 88vw;
}

#pink{
    color:pink
}

p{
    color:blue
}
.cropContainer{
    position: relative;
    overflow: hidden;

}
.container{
    position:relative;
    width: 100vw;
    height: 200px;
    background-color:aqua; 

}

.center{
    position: absolute;
    left: 50px;/*moving the element to the center of the screen*/
    transform:translate(50%,0);
}